<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="flex">
        <span>Blinds</span>
        <a href="#"><img src="../images/general/back.png" class="title-back" /></a>
      </h1>
    </div>
  </div>
  <div id="blinds" class="row">
    <div class="lds-hourglass"></div>
  </div>
</div>
<script type="text/html" id="tmplBlind">
  <div class="col-6">
    <div class="switch-toggle-container switch-loading">
      <div class="switch-toggle toggle-dido" id="<%=Address%>" data-name="<%= Name %>">
        <input id="up-<%=Address%>" class="switch-input" data-command="up" name="<%= Address %>" type="radio" <%= (State) ? '' : 'checked'%>>
        <label for="up-<%=Address%>" class="toggle-label toggle-teal">Up</label>
    
        <input id="stop-<%=Address%>" class="switch-input" data-command="stop" name="<%= Address %>" type="radio">
        <label for="stop-<%=Address%>" class="toggle-label toggle-light-blue toggle-narrow">|</label>
    
        <input id="down-<%=Address%>" class="switch-input" data-command="down" name="<%= Address %>" type="radio" <%= (State) ? 'checked' : ''%>>
        <label for="down-<%=Address%>" class="toggle-label toggle-orange">Down</label>
    
        <a></a>
      </div>
      <div class="load-bar">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <strong><%= Name %></strong>
    </div>
  </div>
</script>