<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="flex">
        <span>Blinds</span>
        <a href="#"><img src="../images/general/back.png" class="title-back" /></a>
      </h1>
    </div>
  </div>
  <div id="blinds" class="row">
    <div class="lds-hourglass"></div>
  </div>
</div>
<script type="text/html" id="tmplBlind">
  <label class="switch-light switch-dido col-6" data-name="<%= Name %>">
    <input type="checkbox" id="<%=Address%>" <%= (State) ? 'checked' : ''%> />
    <span class="col-2">
      <span>Up</span><span>Down</span><a></a>
    </span>
    <strong class="col-8"><%= Name %></strong>
  </label>
</script>