/* Dido Theme
 */
.switch-dido {
    display: flex;
    align-items: center;
    width: 100%;

    > span {
        display: inline-block;
        min-height: 26px;
        background-color: #464747;
        border-radius: 1px;
        box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0;
        color: #fff;
        text-transform: uppercase;
        width: 120px;

        span {
            opacity: 0;
            transition: all 0.1s;

            &:first-of-type {
                opacity: 1;
            }
        }
    }

    label {
        color: #fff;
    }

    > span span, label {
        cursor: pointer;
        padding: 3px;
        font-weight: bold;
        font-size: 85%;
        line-height: size(30) + size(0.3 * 15);
    }

    a {
        outline: none !important;
        background-color: #26a69a;
        border-radius: 1px;
        box-shadow: inset rgba(255, 255, 255, 0.2) 0 1px 0, inset rgba(0, 0, 0, 0.3) 0 -1px 0;
    }

    > strong {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
    }
}

/* Selected ON switch-light
*/
.switch-dido.switch-light input:checked ~ span a {
    background-color: #ffa726;
}

.switch-dido.switch-light input:checked ~ span span:first-of-type {
    opacity: 0;
}

.switch-dido.switch-light input:checked ~ span span:last-of-type {
    opacity: 1;
}

@media only screen and (max-width: 1000px) {
    .switch-dido {
        margin-bottom: 5px;

        > span {
            min-height: 32px;
            width: 120px;
        }

        > span span, label {
            cursor: pointer;
            padding: 3px;
            font-weight: bold;
            font-size: 100%;
            line-height: size(30) + size(0.3 * 15);
        }

        > strong {
            font-size: 18px;
        }
    }
}

/*TOOGLE DIDO*/
.switch-toggle-container {
  display: flex;
  align-items: center;
  width: 100%;

  .switch-toggle.toggle-dido {
    > label.toggle-label {
      display: inline-block;
      min-height: 26px;
      background-color: #464747;
      box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 0;
      color: #fff;
      text-transform: uppercase;
      width: 60px;
      outline: none;
      cursor: pointer;
      padding: 3px;
      font-weight: bold;
      font-size: 85%;
      line-height: 1.5;
      transition: all 0.3s;
  
      &.toggle-narrow {
        width: 30px;
      }
    }
  
    input:checked + label.toggle-label {
      color: #333447;
      &.toggle-teal {
        background-color: #26a69a;
      }
      &.toggle-light-blue {
        background-color: #29b6f6;
      }
      &.toggle-orange {
        background-color: #ffa726;
      }
    }
  }

  strong {
    font-weight: inherit;
  }
}


